<form action="/api/login" method="post">
        <label>Nombre</label>
        <input type="text" name="nombreUsuario" placeholder="Nombre" id="nombreUsuario">
        <input type="submit" value="LogIn">
</form>
<a href="/auth/facebook">Iniciar Sesión con Facebook</a>